.parent-container {
    height: 100%;
}

.landing-container {
    width: fit-content;
    margin: 50px auto;
}

.join-us-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.join-us-section .user-form {
    display: grid;
    flex: 1;
    padding: 0px 50px;
}

.join-us-section .user-form label {
    font-family: 'gec-semiBold-font';
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 3px;
    width: fit-content;
    border-bottom: 2px solid var(--main-color);
}

.join-us-section .user-form input {
    padding: 8px 5px;
    outline-color: var(--main-color);
    font-size: 20px;
}

.join-us-section .user-form textarea {
    height: 150px;
    outline-color: var(--main-color);
    resize: none;
    padding: 5px;
}

.join-us-section .user-form input[type="file"] {
    border: 1px solid var(--main-color);
    margin-bottom: 10px;
    cursor: pointer;
}

.join-us-section .user-form input[type="submit"] {
    width: fit-content;
    padding: 5px 30px;
    margin: 10px 0px;
    font-size: 18px;
    background-color: var(--main-color);
    color: var(--text-color);
    border: 3px solid var(--main-color);
    cursor: pointer;
}

.join-us-section .user-form input[type="submit"]:hover {
    color: var(--main-color);
    background-color: transparent;
}

.join-us-section .image-container {
    background-color: var(--main-color);
    padding: 300px 100px;
}

.join-us-section .image-container img {
    width: 300px;
}

@media (max-width: 1000px) {
    .join-us-section .image-container {
        padding: 300px 50px;
    }
}

@media (max-width: 700px) {
    .join-us-section .image-container {
        padding: 0px;
        width: 100%;
        text-align: center;
    }

    .join-us-section .user-form input[type="submit"] {
        padding: 10px 60px;
        font-size: 20px;
        margin: 50px auto;
    }
}