.parent-container {
    height: 100%;
}

.landing-container {
    width: fit-content;
    margin: 20px auto;
}

.work-environment-section {
    padding: 10px 60px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.work-environment-section h2 {
    width: fit-content;
    padding-right: 10px;
    font-size: 40px;
    font-family: 'gec-semiBold-font';
    border-bottom: 4px solid var(--main-color);
}

.work-environment-section span {
    font-family: 'gec-medium-font';
    color: var(--third-main-color);
}

.work-environment-section .work-environment {
    line-height: 1.5;
    font-size: 20px;
    margin: 30px 10px;
}

.work-environment-section .work-features {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    justify-content: center;
}

.work-environment-section .work-features li {
    background-color: white;
    line-height: 1.5;
    padding: 40px 50px;
    margin: 10px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.work-environment-section .work-features li:nth-child(2) {
    order: -2;
}


.work-environment-section .work-features li:first-child,
.work-environment-section .work-features li:nth-child(3) {
    color: var(--text-color);
    background-color: var(--main-color);
}

.work-environment-section .work-features li strong {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "gec-medium-font";
}

.work-environment-section .cta-text {
    font-size: 25px;
    margin-top: 50px;
    text-align: center;
}

.join-us-section {
    display: flex;
    justify-content: space-evenly;
}

.join-us-section .user-form {
    display: grid;
    width: 60%;
    padding: 0px 50px;
    margin: 50px 0px;
}

.join-us-section .user-form label:not(label.cb-label) {
    display: block;
    font-family: 'gec-semiBold-font';
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 3px;
    width: fit-content;
    border-bottom: 2px solid var(--main-color);
    font-size: 20px;
}

.join-us-section .user-form label span {
    font-size: 30px;
    color: #fb3118;
    font-family: 'gec-bold-font';
}

.join-us-section .user-form input,
.join-us-section .user-form select {
    width: 100%;
    padding: 8px 5px;
    outline-color: var(--main-color);
    font-size: 20px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.join-us-section .user-form select {
    cursor: pointer;
}

.join-us-section .user-form textarea {
    width: 100%;
    height: 150px;
    font-size: 20px;
    transition: 0s;
    outline-color: var(--main-color);
    resize: vertical;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.join-us-section .user-form input[type="file"] {
    border: 1px solid var(--main-color);
    margin-bottom: 10px;
    cursor: pointer;
}

.join-us-section .user-form button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 12px 30px;
    margin: 10px 0px;
    font-size: 18px;
    background-color: var(--main-color);
    color: var(--text-color);
    border: 3px solid var(--main-color);
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

.join-us-section .user-form button:hover {
    color: var(--main-color);
    background-color: transparent;
}

.join-us-section .user-form button .btn-loader {
    display: none;
    position: absolute;
    width: 25px;
    height: 25px;
    margin: -12.5px 00 -12.5px;
    border: 3px solid var(--text-color);
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation:  spin 1s linear infinite;
}

.join-us-section .user-form button .btn-text {
    transition: 0.1s;
}

.join-us-section .user-form button.loading .btn-text {
    visibility: hidden;
}

.join-us-section .user-form button.loading .btn-loader {
    display: block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.join-us-section .image-container {
    background-color: var(--main-color);
    padding: 300px 100px;
}

.join-us-section .image-container img {
    width: 300px;
}

.join-us-section .user-form .error-message {
    font-family: 'gec-medium-font';
    color: #fb3118;
    font-size: 20px;
}

.join-us-section .user-form .success-message {
    font-family: 'gec-medium-font';
    color: green;
    font-size: 20px;
}

@media (max-width: 1000px) {
    .work-environment-section {
        padding: 10px 30px;
    }

    .work-environment-section .work-features{
        grid-template-columns: repeat(2, 400px);
    }
 
    .join-us-section .user-form {
        padding: 0px;
    }
}

@media (max-width: 800px) {
    .work-environment-section .work-features {
        display: flex;
        flex-wrap: wrap;
    }

    .work-environment-section .work-features li:nth-child(2) {
        order: 0;
    }
}

@media (max-width: 700px) {
    .join-us-section .user-form {
        width: 100%;
        padding: 0px 30px;
    }

    .join-us-section .user-form button {
        padding: 10px 60px;
        font-size: 20px;
        margin: 50px auto;
    }

    .work-environment-section {
        padding: 0px;
    }

    .work-environment-section h2 {
        margin: 0px auto;
    }
}

@media (max-width: 500px) {
    .work-environment-section {
        text-align: center;
    }

    .join-us-section .user-form {
        padding: 0px 10px;
    }
}