/* Start Variables */
:root {
    /* background-color: #f6f6f6 !important Gray */
    /* --main-color: #c9a22e;   */
    --main-color: #2A2B2F;
    --second-main-color: #000;
    /* --second-main-color: #89772e; */
    --background-color: #151615; 
    /* --background-color: #4b4e53; */
    --text-color: #f8f6f2;
    --second-text-color: #151615;
}
/* End Variables */


/* Start Global Rules*/


@font-face {
    font-family: 'gec-light-font';
    src: url(../assets/font-style/en/ExpoArabic-Light.ttf);
}

@font-face {
    font-family: 'gec-medium-font';
    src: url(../assets/font-style/en/ExpoArabic-Medium.ttf);
}

@font-face {
    font-family: 'gec-bold-font';
    src: url(../assets/font-style/en/ExpoArabic-Bold.otf);
}

@font-face {
    font-family: 'gec-semiBold-font';
    src: url(../assets/font-style/en/ExpoArabic-SemiBold.ttf);
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

/* width */
html::-webkit-scrollbar {
    width: 12px;
}

/* Track */
html::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
html::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
    background: #555;
}


body {
    background-color: #ffffff;
    font-family: 'gec-light-font', Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    width: 150px;
}

/* header nav ul li > a.select {
    color: white !important;
} */

.up {
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    opacity: 0;
}

.select {
    color: var(--text-color) !important;
}


.loader-container {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 10;
    width: 100%;
    background-color: black;
}

.loader-container .loader {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Logo Style */
.loader-container img {
    width: 60px;
    margin: 0px 10px;
    z-index: 1;
    animation: bounce 0.9s ease-out infinite;
    -webkit-animation: bounce 0.9s ease-out infinite;
    animation-direction: alternate;            
    -webkit-animation-direction: alternate;            
    user-select: none;
}

.loader-container img:nth-child(2) {
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
}

.loader-container img:nth-child(3) {
    animation-delay: .6s;
    -webkit-animation-delay: .6s;
}

/* Animation Keyframes */
@keyframes bounce {
    to {
        filter: brightness(0.2);
        transform: translateY(-50px);
    }
}

/* End Global Rules*/

/* Start Header */

.load-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff42;
    backdrop-filter: blur(9px);
}

.parent-container {
    position: relative;
    padding-bottom: 30px;
    box-shadow: 0px 0px 20px 0px #000;
    height: 660px;
}

.image-background-container::before {
    content: '';
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../assets/home-page-images/landing-page-background-image.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    filter: brightness(0.8);
}

header {
    font-family: 'gec-semiBold-font';
    position: relative;
    padding: 10px;
    margin: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    margin: 30px 0px;
}

header .logo > img {
    width: 170px;
}

header nav > ul {
    display: flex;
}

header nav ul > li {
    font-size: 20px;
}

header nav .menu-bar {
    display: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header nav ul li {
    font-weight: bold;
    cursor: pointer;
}

header nav ul li.menu-close {
    display: none;
}

header nav ul li > a {
    color: var(--second-main-color);
    font-size: 18px;
}

header nav ul > li {
    padding: 15px;
}

header nav .lang-switch {
    padding: 0px 5px;
    border-left: 3px solid var(--main-color);
    margin: auto;
}

header nav .lang-switch select {
    font-size: 18px;
    border: 0px;
    color: var(--main-color);
    outline-color: var(--main-color);
    user-select: none;
    background-color: transparent;
    font-family: "gec-semiBold-font";
    cursor: pointer;
}

header nav .lang-switch select option {
    color: var(--text-color);
    background-color: var(--main-color);
    padding: 10px;
}

header nav ul li.menu {
    z-index: 3;
}

header nav ul li.menu .sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: var(--background-color);
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

header nav ul li.menu .sub-menu li a {
    color: rgb(143, 143, 143);
}

header nav ul li.menu .sub-menu li {
    padding: 25px 30px;
}

header nav ul li.menu:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    bottom: -150px;
}

header nav ul li.menu .sub-menu li {
    font-size: 18px;
}

header nav ul > li.menu:not(:hover) .sub-menu {
    clip-path: circle(0);
}

header nav ul li.menu .sub-menu {
    bottom: -130px;
}

header nav ul li.menu .sub-menu li:hover {
    background-color: white;
}

header nav ul li.menu .sub-menu li:hover > a {
    color: var(--second-main-color);
    text-decoration: none;
}

header nav ul li.projects-menu .sub-menu .sub-sub-menu {
    position: relative;
}

header nav ul li.projects-menu .sub-menu .projects-sub-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    height: 500px;
    overflow: scroll;
    left: 225px;
    top: 0px;
    background-color: var(--background-color);
    color: #8f8f8f;
}

header nav ul li.projects-menu .sub-sub-menu:nth-child(2) .projects-sub-menu {
    height: fit-content;
    overflow: auto;
}

header nav ul li.projects-menu .sub-menu .sub-sub-menu:hover .projects-sub-menu {
    visibility: visible;
    opacity: 1;
}

header nav ul li.projects-menu .sub-menu .projects-sub-menu li {
    width: 250px;
}

header nav ul li.projects-menu .sub-menu .projects-sub-menu li:not(:last-child) {
    border-top: 1px solid #f8f6f2;
}

header nav ul li.projects-menu .sub-menu .projects-sub-menu li:hover {
    background-color: var(--text-color);
}

header nav ul li.projects-menu .sub-menu .projects-sub-menu li:hover {
    color: var(--second-main-color);
}

header nav ul li.projects-menu .sub-menu .projects-sub-menu::-webkit-scrollbar {
    background: transparent;
}

header nav ul li.projects-menu .sub-menu .projects-sub-menu::-webkit-scrollbar-thumb {
    background: var(--text-color);
}


@media (max-width: 1200px) {
    header {
        margin: 0px 10px;
    }

    header .logo > img {
        width: 150px;
    }
}

@media (max-width: 1100px) {
    header nav ul li {
        padding: 0px 15px;
    }

    .landing-container p {
        width: 100px;
    }
}

@media (max-width: 950px) {
    .select {
        color: var(--main-color);
    }

    header nav ul.nav-bar {
        display: block;
        position: fixed;
        right: -600px;
        top: 0px;
        height: 100%;
        background-color: var(--background-color);
        z-index: 10;
        padding: 50px 10px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    /* width */
    header nav ul.nav-bar::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    header nav ul.nav-bar::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle */
    header nav ul.nav-bar::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    /* Handle on hover */
    header nav ul.nav-bar::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    header nav ul li > a {
        color: var(--text-color);
    }

    header nav ul li:not(:first-child){
        padding-bottom: 10px;
        border-right: none;
        border-bottom: 2px solid var(--text-color);
    }

    header nav ul li:last-child {
        border-bottom: none;
    }

    header nav .lang-switch {
        border-left: none;
    }

    header nav .lang-switch select {
        color: var(--text-color);
    }

    header nav .lang-switch select option {
        color: var(--main-color);
        background-color: var(--text-color);
    }

    header nav ul li:not(:first-child) {
        margin-left: 0px;
    }

    header nav ul li {
        margin-bottom: 30px;
        padding-right: 250px;
    }

    header nav ul li.menu-close {
        display: flex;
        position: relative;
        justify-content: left;
    }

    header nav .menu-bar {
        display: block;
        font-size: 40px;
        cursor: pointer;
        background-color: var(--text-color);
        padding: 10px 20px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                    rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

   header nav ul li.menu-close {
        /* right: -200px; */
        left: 0px;
        top: -20px;
    }

   header nav ul li.menu  {
        position: relative;
   }

   header nav ul li.menu::after {
        font-family: 'Font Awesome 5 Free';
        content: '\f054';
        position: absolute;
        color: var(--text-color);
        right: 200px;
        top: 0px;
        transition: 0.5s;
        -webkit-transition: 0.5s;
    }

   header nav ul li.menu .sub-menu {
        height: 0px;
        position: unset;
        margin: 0px;
    }

    header nav ul li.menu:hover::after {
        transform: rotate(90deg);
    }

    header nav ul li.menu:hover .sub-menu {
        margin: 40px 0px;
        height: fit-content;
    }

    header nav ul li.menu .sub-menu li {
        padding: 0px;
        border-bottom: none;
    }

    header nav ul li.projects-menu .sub-menu .projects-sub-menu {
        position: unset;
        height: 0px;
    }

    header nav ul li.menu li.sub-sub-menu::after {
        font-family: 'Font Awesome 5 Free';
        content: '\f054';
        position: absolute;
        color: #8f8f8f;
        right: -25px;
        top: 0px;
        transition: 0.5s;
        -webkit-transition: 0.5s;
    }

    header nav ul li.menu li.sub-sub-menu:hover::after {
        transform: rotate(90deg);
    }

    header nav ul li.projects-menu .sub-menu .sub-sub-menu:hover .projects-sub-menu {
        margin-top: 40px;
        margin-bottom: 40px;
        height: 400px;
    }

    header nav ul li.projects-menu .sub-menu .sub-sub-menu:nth-child(2):hover .projects-sub-menu {
        height: 150px;
    }

    header nav ul li.projects-menu .sub-menu .sub-sub-menu .projects-sub-menu li {
        border-bottom: none;
        color: var(--text-color);
    }

    header nav ul li.projects-menu .sub-menu .sub-sub-menu .projects-sub-menu li:hover {
        color: var(--second-main-color);
    }

    header nav ul li.projects-menu .sub-sub-menu:nth-child(2) .projects-sub-menu {
        height: 0px;
    }

    header nav ul li.menu .sub-menu li:hover,
    header nav ul li.menu .sub-menu li:hover a {
        color: var(--text-color);
        background-color: transparent;
    }

    header nav .lang-switch {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    header nav ul li.menu-close {
        right: -250px;        
    }

    header .logo img {
        width: 150px;
    }
}
/* End Header */

/* Start Landing Section */
.landing-container {
    width: fit-content;
    margin-top: 100px;
    margin-left: 100px;
    /* color: white; */
    color: var(--second-main-color);
}

.landing-container .landing-text {
    overflow: hidden;
}

.landing-container h1 {
    font-size: 3vw;
    font-family: 'gec-bold-font';
}

.landing-container h1.up {
    transform: translateY(200px);
}

.landing-container p {
    font-size: 40px;
    font-weight: bold;
    font-family: 'gec-medium-font';
    width: 500px;
    line-height: 1.5;
    transform: translateY(200px);
}

.landing-container .landing-scroll {
    position: absolute;
    right: 50%;
    font-weight: 900;
    font-size: 40px;
    margin-top: 0px;
    animation-name: scroll-animation;
    -webkit-animation-name: scroll-animation;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    cursor: pointer;
    bottom: 6%;
}

@keyframes scroll-animation {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    
    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 1100px) {
    .landing-container {
        margin-left: 60px;
    }

    .landing-container h1 {
        font-size: 5vw;
        width: 300px;
        line-height: 1.5;
    }

    .landing-container p {
        font-size: 3vw;
        width: 400px;
    }
}

@media (max-width: 720px) {
    .load-container {
        width: 100%;
        height: 60%;
    }

    .landing-container {
        margin: 120px auto;
    }

    .landing-container h1,
    .landing-container p {
        width: 500px;
        text-align: center;
    }

    .landing-container p {
        font-size: 30px;
    }
}


@media (max-width: 700px) {
    .landing-container {
        margin: 100px auto;
        padding: 0px;
    }

    .landing-container h1 {
        font-size: 30px;
    }

    .landing-container p {
        width: 400px;
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .landing-container .landing-scroll {
        bottom: 10%;
    }

    .landing-container .landing-button {
        padding: 10px 30px;
        font-size: 15px;
    }

    .landing-container h1 {
        width: fit-content;
        margin: 0px auto;
    }

    .landing-container p {
        margin: 0px auto;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .landing-container {
        margin: 80px 0px;
        text-align: center;
    }

    .landing-container .landing-scroll {
        bottom: 50px;
    }

    .image-background-container::before {
        background-position: top;
    }
}

@media (max-width: 450px) {
    .landing-container {
        padding: 0px;
        width: fit-content;
        margin: 80px auto;
    }

    .landing-container h1 {
        margin-left: 10px;
    }

    .landing-container p {
        width: 300px;
    }
}
/* End Landing Section */

/* Start strategic Section */
.strategic-section {
    padding: 0px 30px;
    margin-top: 80px;
}

.strategic-section .article-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 50px;
    padding: 60px 0px;
}

.strategic-section .article-container:not(:last-child) {
    border-bottom: 2px solid var(--main-color);
}

.strategic-section .article-container:nth-child(2) div.title-container {
    order: 2;
}

.strategic-section .article-container .title-container {
    display: flex;
    align-items: center;
}

.strategic-section .article-container .title-container i {
    font-size: 40px;
    margin-right: 50px;
}

.strategic-section .article-container .title-container h1 {
    font-family: 'gec-bold-font';
    position: relative;
    font-size: 45px;
    font-weight: bold;
    color: var(--main-color);
}

.strategic-section .article-container:nth-child(2):hover h1::before {
    left: -80px;
    transition: 1s;
    -webkit-transition: 1s;
}

.strategic-section .article-container:nth-child(2) ul {
    list-style: disc;
    color: var(--main-color);
    margin-left: 20px;
    line-height: 1.5;
    margin-top: 25px;
    font-weight: bold;
}

.strategic-section .article-container article {
    border-left: 2px solid var(--main-color);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}


.strategic-section .article-container article p {
    width: 500px;
    line-height: 1.5;
    font-size: 20px;
    color: var(--second-text-color);
}

@media (max-width: 950px) {
    .strategic-section .article-container {
        margin: 40px 10px;
    }
}

@media (max-width: 800px) {
    .strategic-section .article-container {
        flex-wrap: wrap;
    }

    .strategic-section .article-container:nth-child(2) div.title-container {
        order: 0;
    }

    .strategic-section .article-container h1::before {
        display: none;
    }

    .strategic-section .article-container article {
        margin-top: 80px;
    }

    .strategic-section .article-container article {
        border-left: none;
        border-top: 3px solid var(--main-color);
    }

    .strategic-section .article-container:not(:last-child) {
        border-bottom-width: 1px;
    }
}

@media (max-width: 700px) {
    .strategic-section .article-container {
        margin: 0px;
    }

    .strategic-section .article-container h1 {
        font-size: 30px;
    }

    .strategic-section .article-container article p {
        width: 350px;
    }
}

@media (max-width: 400px) {
    .strategic-section .article-container article p {
        width: 250px;
    }
}
/* End strategic Section */

/* Start Services Section */
.services-section {
    text-align: center;
    background-color: var(--background-color);
    padding: 80px 0px;
    padding-bottom: 10px;
    color: var(--text-color);
}

.services-section h1 {
    font-size: 40px;
    padding-bottom: 80px;
}

.services-section ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 50px;
    margin-bottom: 100px;
}

.services-section ul li {
    position: relative;
    background-color: var(--background-color);
    /* border: 2px solid var(--main-color); */
    padding: 180px 0px;
    cursor: pointer;
    perspective: 1000px;
    width: 100%;
    height: 100%;
}

.services-section ul li .text-card {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.services-section ul li:hover .text-card {
    transform: rotateY(180deg);
}

.services-section ul li .text-face-front,
.services-section ul li .text-face-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.services-section ul li .text-face-front {
    border: 2px solid var(--main-color);
}

.services-section ul li .text-face-back {
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    color: var(--text-color);
    transform: rotateY(180deg);
}

.services-section ul li .icon-container {
    padding-bottom: 15px;
}

.services-section ul li .icon-container svg {
    margin-top: 120px;
    width: 80px;
    height: 80px;
}

.services-section ul li span {
    font-size: 20px;
    font-weight: bold;
}

.services-section ul li p {
    margin: 20px auto;
    line-height: 1.5;
    width: 400px;
}

@media (max-width: 1200px) {
    .services-section ul li p {
        width: 300px;
    }

    .services-section ul li {
        padding: 230px 0px;
    }
}

@media (max-width: 1020px) {
    .services-section ul {
        gap: 10px;
    }
    
    .services-section ul {
        grid-template-columns: repeat(1, 500px);
        justify-content: center;
    }
}

@media (max-width: 525px) {
    .services-section ul {
        grid-template-columns: repeat(1, 400px);
    }
}

@media (max-width: 500px) {
    .services-section h1 {
        font-size: 30px;
    }
}

/* Start Services Section */
/* Start Projects Section */

/*  */
.custom-shape-divider-bottom-1722098434 {
    position: absolute;
    top: -50px;
    /* overflow: hidden; */
}
.custom-shape-divider-bottom-1722098434 svg {
    position: relative;
    display: block;
    width: calc(249% + 1.3px);
    height: 500px;
    background-color: var(--main-color);
}

.custom-shape-divider-bottom-1722098434 .shape-fill {
    fill: white;
}
/*  */

.projects-section {
    position: relative;
    padding: 50px 0px;
    margin: 50px 0px;
}

.projects-section h1 {
    font-size: 40px;
    color: black;
    text-align: center;
}

.projects-section .projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.projects-section .projects-container figure {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0px 1px;
}

.projects-section .projects-container figure img {
    width: 400px;
    height: 250px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.projects-section .projects-container figure:hover img {
    filter: brightness(0.5);
    transform: scale(1.3);
}

.projects-section .projects-container figure:hover .caption {
    opacity: 1;
}

.projects-section .projects-container .caption {
    position: absolute;
    left: 0px;
    padding: 20px;
    color: white;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    top: 50px;
    bottom: 0px;
    opacity: 0;
}

.projects-section .projects-container .caption h3 {
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 10px;
}

.projects-section .projects-container .caption span:hover {
    text-decoration: underline;
}

.projects-section .projects-container .caption span i {
    margin-left: 10px;
}


/*
.projects-section .projects-container figure::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 80px;
    z-index: -2;
    border: 2px solid var(--main-color);
    right: 0px;
}

*/
.projects-section .button-container {
    text-align: center;
    margin-top: 40px;
}

.projects-section button {
    padding: 10px 20px;
    background-color: var(--main-color);
    border: 3px solid var(--main-color);
    font-size: 18px;
}

.projects-section button:hover {
    background-color: transparent;
}

.projects-section button:hover a {
    color: var(--main-color);
}

.projects-section button a {
    color: var(--text-color);
}

@media (max-width: 1000px) {
    .projects-section .projects-container {
        grid-template-columns: none;
    }
}

@media (max-width: 500px) {
    .projects-section {
        padding: 0px;
    }

    .projects-section h1 {
        font-size: 30px;
    }
}

/* End Projects Section */

/* Start clients Section */
.clients-section {
    margin: 50px 0px;
}

.clients-section h1 {
    font-size: 40px;
    font-family: 'gec-medium-font';
    color: var(--second-text-color);
    text-align: center;
    margin-bottom: 60px;
}

.clients-section .slider {
    overflow: hidden;
    padding: 60px 0px;
    white-space: nowrap;
    position: relative;
}

.clients-section .slider::before,
.clients-section .slider::after {
    content: '';
    position: absolute;
    top: 0px;
    width: 250px;
    height: 100%;
    z-index: 2;
}

.clients-section .slider::after {
    background: linear-gradient(to right, transparent, white);
    right: 0px;
}

.clients-section .slider::before {
    left: 0px;
    background: linear-gradient(to left, transparent, white);
}

/* .clients-section .slider:hover .slider-track{
    animation-play-state: paused;
} */

@keyframes slide {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-100%);
    }
}

.clients-section  .slider-track {
    display: inline-block;
    animation: 35s slide infinite linear;
    -webkit-animation: 35s slide infinite linear;
}

.clients-section .slider-track img {
    width: 200px;
    vertical-align: middle;
    margin: 0px 100px;
}

/* Resize the incompatible images */
.clients-section .slider-track img.resize {
    width: 300px;
}

.clients-section .slider-track img.small-image {
    width: 350px;
}

@media (max-width: 900px) {
    .clients-section {
        margin: 120px 0px;
        padding:  0px;
    }

    @media (max-width: 700px) {
        .clients-section .slider-track img {
            width: 150px;
            margin: 0px 70px;
        }

        .clients-section .slider::before,
        .clients-section .slider::after {
            width: 200px;
        }
    }
}

/* End clients Section */

/* Start Partners Section */
.partners-section {
    margin: 40px 50px;
    padding: 40px 50px;
}

.partners-section h1 {
    font-family: 'gec-medium-font';
    font-size: 40px;
    text-align: center;
}

.partners-section .images-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px 0px;
}

.partners-section .images-container .image-container {
    position: relative;
    border: 3px solid var(--main-color);
    border-radius: 80px;
}

.partners-section .images-container .image-container:first-child {
    padding: 60px 13px;
}

.partners-section .images-container .image-container:nth-child(2) {
    padding: 10px;
}

.partners-section .images-container .image-container img {
    width: 130px;
}

@media (max-width: 500px) {
    .partners-section .images-container {
        flex-wrap: wrap;
    }

    .partners-section .images-container .image-container:first-child {
        margin-bottom: 50px;
    }

    .partners-section h1 {
        font-size: 30px;
    }
}
/* End Partners Section */
/* Start Footer Section */
footer {
    padding: 70px 80px;
    background-color: var(--background-color);
}

footer .footer-sections {
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    flex-wrap: wrap;
}

footer .footer-sections h4 {
    font-family: 'gec-bold-font';
}

footer .footer-sections .our-location h4 {
    font-size: 25px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--main-color);
}

footer .footer-sections .office-info h4 {
    font-size: 25px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--main-color);
}

footer .footer-sections .office-info .contact-info li {
    display: flex;
    margin: 20px 0px;
    align-items: center;
    flex-wrap: wrap;
}

footer .footer-sections .office-info .contact-info li i {
    background-color: var(--main-color);
    padding: 10px 10px;
    border-radius: 50px;
}

footer .footer-sections .office-info .contact-info li svg {
    background-color: var(--main-color);
    padding: 10px 5px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

footer .footer-sections .office-info .contact-info li h6,
footer .footer-sections .office-info .contact-info li a {
    font-size: 15px;
    margin-left: 20px;
}

footer .footer-sections .office-info .contact-info li a {
    color: var(--text-color);
}

footer .footer-sections .office-info .contact-info li i {
    margin-right: 10px;
}

footer .footer-sections .get-in-touch {

}

footer .footer-sections .get-in-touch h4 {
    font-size: 25px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--main-color);
}


footer .footer-sections .get-in-touch .email-field {
    position: relative;
    margin: 20px 0px;
}

footer .footer-sections .get-in-touch .email-field input[type="email"] {
    padding: 10px 5px;
    padding-right: 80px;
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: var(--text-color);
}

footer .footer-sections .get-in-touch .email-field input[type="submit"] {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px 20px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: white;
}

footer .footer-sections .get-in-touch .email-field input[type="submit"]:hover {
    background-color: transparent;
    border-color: white;
    color: white;
}

footer .footer-sections .get-in-touch .social-media-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}

footer .footer-sections .get-in-touch .social-media-icons h6 {
    font-family: 'gec-semiBold-font';
    font-size: 20px;
    margin: 20px 0px;
}

footer .footer-sections .get-in-touch .social-media-icons a {
    font-size: 50px;
    margin: 0px 10px;
    color: var(--main-color);
}

footer .footer-sections .get-in-touch .social-media-icons a:hover {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    color: white;
}

/* background: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#333));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
footer .footer-sections .get-in-touch .social-media-icons a.linkedin:hover {
    color: #0077B5;
}

footer .footer-sections .get-in-touch .social-media-icons a.instagram:hover {
}

footer .footer-sections .get-in-touch .social-media-icons a.snapchat:hover {
    color: #fffc00;
}

footer .footer-sections .get-in-touch .social-media-icons a.telegram:hover {
    color: #0088cc;
}

.copyright-section {
    padding: 20px 0px;
    border-top: 3px solid var(--main-color);
    text-align: center;
    background-color: var(--background-color);
}

.copyright-section h2 {
    font-size: 15px;
    color: var(--text-color);
}

.copyright-section h2 span {
    color: var(--main-color);
}

@media  (max-width: 1024px) {
    footer .footer-sections {
        gap: 50px;
    }
}

@media (max-width: 800px) {
    footer .footer-sections section {
        margin: 20px 0px;
    }
}

@media (max-width: 700px) {
    footer .footer-sections {
        justify-content: center;
        gap: 25px;
    }
}

@media (max-width: 400px) {
    footer .footer-sections .office-info .contact-info li  {
        flex-wrap: nowrap;
    }
}
/* End Footer Section */