/* Start Global Rules */
h1 {
    font-family: 'gec-medium-font';
}

h2, span {
    font-family: 'gec-semiBold-font';
}
/* End Global Rules */

.image-background-container::before{
    background-image: url(../assets/projects-images/pmo/develop-ten-hospitals.JPG);
    filter: blur(2px);
    background-position: center;
}

.parent-container {
    height: 100%;
    box-shadow: none;
}

.landing-container {
    margin: 100px auto;
}

.landing-text h1 {
    text-align: center;
    position: relative;
}

/* Project Details Start */
.project-details-container {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0px;
}

.project-details-container .images-container {
    max-width: 500px;
    height: fit-content;
    overflow: hidden;
    position: relative;
}

.project-details-container .images-container .slides {
    display: flex;
    transition: transform 0.5s ease;
}

.project-details-container .images-container img.slide {
    width: 100%;
    height: auto;
}

.project-details-container .images-container .prev,
.project-details-container .images-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.project-details-container .images-container .next {
    right: 0;
}

.project-details-container .images-container .prev {
    left: 0;
}

.project-details-container .images-container .zoom-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 7px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.project-details-container .images-container .zoom-icon:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.project-details-container .images-container .zoom-icon img {
    width: 25px;
    height: 25px;
}

/* Modal Styling */
.project-details-container .images-container .modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.project-details-container .images-container .modal-content {
    display: block;
    margin: auto;
    width: fit-content;
    height: 100%;
}

.project-details-container .images-container .close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.project-details-container .text-details-container {
    width: 500px
}

.project-details-container .text-details-container span {
    font-weight: bold;
    font-size: 20px;
}

.project-details-container .text-details-container p {
    margin: 40px 0px;
    line-height: 1.6;
}

.project-details-container .text-details-container .project-title {
    font-size: 30px;
    margin-bottom: 50px;
    line-height: 1.5;
}

.project-details-container .text-details-container .project-client {
    /* margin-bottom: 50px; */
    font-weight: 200;
}

.project-details-container .text-details-container .project-description span {
    font-weight: bold;
    font-size: 20px;
}

.project-details-container .text-details-container .project-description p {
    margin: 30px 0px;
}

.project-details-container .text-details-container .project-description .description-list {
    list-style: disc;
}

.project-details-container .text-details-container .project-description .description-list li {
    margin: 30px 0px;
    line-height: 1.5;
}


/* Project Details End */

@media (max-width: 1000px) {
    .project-details-container .images-container {
        max-width: 400px;
    }
}

@media (max-width: 900px) {
    .project-details-container {
        flex-wrap: wrap;
        padding: 20px 10px;
        margin: 20px 10px;
    }

    .project-details-container .images-container {
        max-width: 500px;
    }

    .project-details-container .text-details-container {
        margin: 50px 0px;
        width: 700px;
    }
    .project-details-container .images-container .prev, .project-details-container .images-container .next {
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    .project-details-container .images-container .modal-content {
        width: 100%;
        height: auto;
    }   
}

@media (max-width: 700px) {
    .project-details-container .text-details-container .project-title {
        font-size: 25px;
    }
}
